<!DOCTYPE html> 
<html>
  <head>
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    <title><% title || 'Magnum Solutions CPAN Releases' %></title>
  </head>
  <body>
    <div id="header">
      <h1><% title || 'Magnum Solutions CPAN Releases' %></h1>
    </div>
    <div id="content">
<% content %>
    </div>
<% IF settings.analytics -%>
<script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
</script>
<script type="text/javascript">
_uacct = "<% settings.analytics %>";
urchinTracker();
</script>
<% END -%>
  </body>
</html>
