      <p>Current version <% module.metadata.version %></p>
      <p><% module.abstract %></p>
      <ul>
        <li>Download <a href="<% module.download_url %>">latest version</a></li>
        <li>View <a href="https://metacpan.org/source/<% module.author %>/<% module.name %>/README">README</a></li>
        <li>Browse <a href="https://metacpan.org/source/<% module.author %>/<% module.name %>/">distribution</a></li>
        <li>View <a href="cover">test coverage</a></li>
        <li>Modules:
          <ul>
<% FOR m IN module.provides -%>
            <li><a href="https://metacpan.org/pod/<% m %>"><% m %></a> (<% module.metadata.provides.$m.version %>)</li>
<% END -%>             
              </ul></li>
        <li>Browse <a href="http://github.com/davorg/<% module.distribution.lower %>">source code repository</a></li>
        <li><a href="http://metacpan.org/release/<% module.distribution %>/">MetaCPAN</a></li>
        <li><a href="http://cpants.cpanauthors.org/release/<% module.author %>/<% module.name %>">CPANTS</a></li>
        <li><a href="http://cpantesters.org/distro/<% module.distribution.substr(0, 1) %>/<% module.distribution %>.html">Test results</a></li>
        <li><a href="http://rt.cpan.org/NoAuth/Bugs.html?Dist=<% module.distribution %>">Report bugs</a></li>
      </ul>
      <div id="activity">
        <h1>Activity by month</h1>
        <object data="http://metacpan.org/activity?res=month&distribution=<% module.distribution %>" width="170" height="22" type="image/svg+xml"></object>
      </div>
